<!doctype html>
<title>Hello from Flask</title>

  <h3>Please input the username of the twitter account whose tweets will be anaylzed</h3>
  <input placeholder="Name"></input>
  <h3>Please input the date to start the analysis from</h3>
  <input placeholder="Start Date"></input>
  <h3>Please input the date to end the analysis from</h3>
  <input placeholder="End Date"></input>
  <h3>Please input how many tweets you desire to be anaylzed (between 5 and 100)</h3>
  <input placeholder="Number of Tweets"></input>
    </br>
    </br>
  <button>Submit</button>
